
<div class="container">

    <div class="row mb-2 br-2 rounded bg-primary">
    
        <p class="col fs-1 fw-bold text-center">{{minutos}} : {{segundos | number: '2.0-0' }} </p>
    
    </div>

    <div class="row">
    
        <button type="button" class="btn btn-primary col m-2">
            Iniciar
        </button>
        
        <button type="button" class="btn btn-secondary col m-2">
            Pausar
        </button>
        
        <button type="button" class="btn btn-danger col m-2">
            Detener
        </button>

    </div>
    

</div>